@media (max-width: 480px) {

}

@media (max-width: 767px) {
	#wrapper {
		margin: 0 !important
	}
	.statistics .box {
		margin-bottom: 25px !important;
	}
	.navbar .navbar-nav .open .dropdown-menu>li>a {
		color: #CCC !important
	}
	.navbar .navbar-nav .open .dropdown-menu>li>a:hover {
		color: #FFF !important
	}
	.navbar .navbar-toggle{
		border:none !important;
		color: #EEE !important;
		font-size: 18px !important;
	}
	.navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {background-color: transparent !important}
  .sidebar ul > li {
		padding-top: 12px;
		padding-bottom: 12px;
	}

	.sidebar .search {
		padding: 10px 0 10px 30px
	}


    .navbar>.container-fluid .navbar-brand {
      margin-left: 15px !important;
    }
    .navbar .navbar-nav>li>a {
      padding-left: 0 !important;
    }
    .navbar-nav {
      margin: 0 !important;
    }
    .navbar .navbar-collapse,
    .navbar .navbar-form {
      border: none !important;
    }

}


@media (min-width: 768px) {
  
}

@media (max-width: 991px) and (min-width: 768px) {
 
}

@media (max-width: 1023px) and (min-width: 992px) {
 
}

@media (max-width: 1280px) and (min-width: 1024px) {
  
}

@media (max-width: 1500px) and (min-width: 1200px) {
 
}
