:root {
  --primary: #024e82;
  --secondary: #fcba04;
  --primary-light:#1976d2;
  --bg: #f4f7ff;
  --grey-bg:#e6ecf3;
  --black:#000;
  --white:#fff;
  --text: #2c3550;
  --text-alter:#4e4b87;
  --text-light:#757e9b;
  --sidebar-width: 250px;
  --box-shadow:5px 5px 25px rgb(4 131 192 / 20%);
}

::-webkit-scrollbar {
	background: transparent;
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--text)
}

::-webkit-scrollbar-thumb:hover {
	background-color:var(--text-light);
}


p{

	margin: 0 !important;

}

h1,h2,h3,h4,h5,h6{

	margin-bottom: 0 !important;

}

a{

	text-decoration: none;
	color: var(--text);

}

.a-light{

	color: var(--primary-light);

}

.f-bold{


	font-weight: 600;
}

#wrapper {
	margin-left: var(--sidebar-width);
	transition: all .3s ease-in-out;

}

#wrapper.fullwidth {
	margin-left: 0;
}

.section-main{

	background-color: var(--bg);
	padding: 3rem;

}


.custom-btn{

padding: 10px 30px;
border-radius: 20px;
font-size: 13px;
border: none;

}

.large-text-btn{

	font-size: 20px;
	text-transform: uppercase;

}

.primary-btn{

	background-color: var(--secondary);
	color: var(--white);
	font-weight: 600;

}


.primary-btn:hover{

	color: var(--white);

}

.secondary-btn{

	background-color: var(--primary);
	color: var(--white);
	font-weight: 600;
	transition: all 0.5s;

}


.secondary-btn:hover{

	color: var(--white);
	background-color: var(--text-alter);
	box-shadow:0 2px 5px 0px var(--text-light)
}

.create-projects{

	padding: 3rem 1rem

}

.create-projects a{

	display: flex;
    align-items: center;
    justify-content: center;

}

.create-projects a img{

	margin-right: 10px;

}

/** --------------------------------
 -- Sidebar
-------------------------------- */
.sidebar {
	background-color: var(--white);
	width: var(--sidebar-width);
	transition: all .3s ease-in-out;
	transform: translateX(0);
	z-index: 9999999
}

.sidebar .close-aside {
	position: absolute;
	top: 7px;
	right: 7px;
	cursor: pointer;
	color: #EEE;
}





.sidebar ul > li {
	margin-bottom:7px;
	
}

.sidebar ul > li a:hover {
	background-color:var(--primary);
	color: var(--white);
}

.sidebar ul > li:hover a {
	color: var(--white);
}

.sidebar ul .active{

	background-color: var(--primary);
	

}

.sidebar ul .active a{

	color: var(--white);

}



.sidebar ul > li > a {
	color: var(--text-light);
	text-decoration: none;
	padding: 10px 20px;
	display: block;

}


.sidebar ul > li > a img{
margin-right: 10px;
}



.show-sidebar {
	transform: translateX(-270px);
}




.sidepanel-dd-ul{

	display: none;
	
}








/** --------------------------------
 -- Please don't do that in real-world projects!
 -- overwrite Bootstrap variables instead.
-------------------------------- */

.navbar {
	border-bottom:2px solid var(--text-light) !important;
	padding: 30px;
	background-color: var(--bg);
}
.navbar .dropdown-menu {
	left: auto !important;
	right: 0 !important;
}
.navbar .navbar-nav>li>a {
	color: var(--text) !important;
	
}
.navbar-title {
	color:var(--text) !important;
	font-size: 25px;
	font-weight: 700;
	display: flex;
    align-items: center;
}


.navbar-title i{

	margin-right: 10px;

}

.navbar .navbar-nav>.open>a,
.navbar .navbar-nav>.open>a:focus,
.navbar .navbar-nav>.open>a:hover {background-color: transparent !important; color: #FFF !important}

.navbar .navbar-brand {line-height: 55px !important; padding: 0 !important}
.navbar .navbar-brand:focus,
.navbar .navbar-brand:hover {color: #FFF !important}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {margin: 0 !important}


.navbar .navbar-nav>li>a>span:not(.caret) {
	background-color: #e74c3c !important;
	border-radius: 50% !important;
	height: 25px !important;
	width: 25px !important;
	padding: 2px !important;
	font-size: 11px !important;
	position: relative !important;
	top: -10px !important;
	right: 5px !important
}

.navbar .navbar-nav>li>a>i {
	font-size: 18px !important;
	
}

.navbar .navbar-nav .nav-item:first-child{

	padding: 0 20px;

}

.custom-dropdown .dropdown-menu{

	border-radius: 10px;

}

.profile-pic{

	border-radius: 50%;
	background-color: var(--secondary);

}

.profile-dropdown{

	font-size: 12px;
	color: var(--text-light);

}

.profile-dropdown a{

	
	opacity: .7;

}

.global-box{


	background-color: var(--white);
	border-radius: 25px;
	box-shadow: var(--box-shadow);

	

}

.notification-dropdown-li:not(:last-child){

border-bottom: 2px solid var(--bg);

}

.notification-dropdown{

	display: flex;
	align-items: center;
	padding: 20px;
	

}

.notification-dropdown i{

	font-size: 30px;
	margin-right: 10px;
	color: var(--text-light);

}

.notification-dropdown h4{

	font-size: 15px;


}

.notification-dropdown p{

	color: var(--text-light);


}



.notifications .nav-link.active{

	background-color: transparent !important;
	color: var(--black) !important;

}

.notifications  .nav-link{

	color: var(--text-light);
	font-size: 20px;

	
}

.notifications .tabs-left{

    width: 20%;
    align-items: flex-start; 


}

.notifications .tabs-left .unread{

	display: inline-flex;
    align-items: flex-start;

}

.notifications .tabs-left .unread:after{

content: "";
width: 10px;
height: 10px;
background-color: #ff0000;
display: inline-block;
border-radius: 50%;
margin-left: 5px;
margin-top: 2px;

}

.notifications .tabs-left i{

	margin-right: 10px;

}


.notifications .tabs-right{

	width: 80%;

}

.notification-box{

	background-color: var(--white);
	border-radius: 25px;
	box-shadow: var(--box-shadow);
	height: 750px;
	overflow-x: scroll;

}

.notification-header{

	padding: 20px;
	border-bottom: 2px solid var(--bg);

}

.notification-header a{

	color: var(--text);
	font-size: 13px;
	font-weight: 600;

}

.notification-body{

	padding: 10px 0;


}

.notification-meta{

	padding: 10px 20px;
	border-bottom: 2px solid var(--bg);

}

.notification-body .notification-meta a{

	color: var(--text-light);

}

.notification-body .notification-meta a h4{

	font-weight: 400;
	font-size: 16px;

}

.notification-body .notification-meta a:hover{

	color: var(--text-light);

}


.notification-body .notification-meta .unread{

	color: var(--text) !important;

}

/* CREATE PROJECTS */

.search-bar{

	position:relative;
	margin: 30px 0;

}


.search-bar i{

	position: absolute;
	top: 28%;
    left: 1%;
    font-size: 20px;
	color: var(--text-light);

}

.search-bar input{

	height: 40px;
    width: 40%;
	background-color: var(--grey-bg);
	border: none;
	outline: none;
	padding-left: 50px;
	border-radius: 25px;
	transition: all .5s;

}


.search-bar input:focus{

    width: 50%;
}

.project-category .nav-tabs{

	border-bottom: 4px solid var(--grey-bg);

}

.project-category .nav-link{

	border: none;
	color: var(--text-light);
	font-weight: 600;
	padding: 20px 20px 20px 0;
	margin-right: 20px;
	position: relative;
	

}

.project-category .nav-link::after{

	content: "";
	bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background: var(--black);
    position: absolute;
	transition: all .5s;
}

.project-category .nav-link:hover:after{

width: 100%;
}

.project-category .active:hover:after{

	width: 0;
	}


.project-category .active{

	border-bottom: 4px solid;
	border-color:  var(--black) !important;
	background-color: transparent !important;
	color: var(--black) !important;

}

.project-list{

	margin-top: 30px;
	list-style-type: none;
	padding: 0;

}

.project-list li{

position: relative;
cursor: pointer;
display: inline-block;
margin-bottom: 20px;
margin-right: 20px;

}

.project-list li img{

	max-width: 600px;
	max-height: 250px;
	
}

.project-list li p{

	position: absolute;
	bottom: 20px;
	left: 20px;
	color: var(--white);
	font-weight: 500;
	font-size: 25px;
}

.create-custom{

	display: flex;
	align-items: center;
	border-top: 2px solid var(--grey-bg);
	padding-top: 40px;

}

.floating-btn{

	width: 55px;
	height: 55px;
	border-radius: 50%;
	position: fixed!important;
    bottom: 10px;
    right: 15px;
    z-index: 999;
	background-color: var(--primary);
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;


}

.floating-btn svg{

	fill: var(--white);
	width: 25px;

}

.project-draft{

	width: 300px;
    position: fixed;
    bottom: 80px;
    right: 30px;
    height: auto;
    z-index: 99;
	background-color: var(--white);
	border-radius: 20px;
	box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);

}

.project-draft.hide{

	display: none;

}


.project-draft-header{

	border-bottom: 2px solid var(--grey-bg);
	padding: 20px;

}

.project-draft-list{

	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	height: 280px;

}

.project-draft-list svg{

width: 30px;

}

/* CREATE PROJECT DETAILS */

.complete-faster{

	display: flex;
	
}

.complete-faster i{

	color: var(--text-alter);
	font-size: 20px;
	cursor: pointer;
	
}

.complete-faster p{

	color: var(--text-alter);
}

.create-project-box{

	border-radius: 25px;
	box-shadow: var(--box-shadow);
	background-color: var(--white);
	padding: 20px;

}

.contact-form{

	margin: 30px 0;

}

.form-group {

	margin-bottom: 20px;

}

.form-group i{

	font-size: 18px;

}

.form-group label{

display: block;
color: var(--text);
font-weight: 500;
font-size: 15px;
margin-bottom: 10px;

}


.form-group input[type="text"],
.form-group textarea{

    width: 100%;
	color: var(--text-alter);
	font-weight: 500;
	font-size: 15px;
	border: none;
	outline: none;
	background-color: var(--bg);
	border-radius:10px ;
	padding: 18.5px 14px;
	resize: none;
}

.form-radio p{

	font-size: 20px;
	color: var(--text);

}

.form-radio label{

	display: inline;
	font-size: 20px;
	margin: 0;

}

.form-radio input[type="radio"]{

	width: 3%;
	height: 2em;
	border: 0px;
	margin-right: 10px;
	
}

.radio-btns{

	display: flex;
	align-items: center;
	margin: 10px 0;

}

.tooltip-inner {
    background-color: #000000b0;
    box-shadow: 0px 0px 4px black;
    opacity: 1!important;
	width: 350px;
	max-width: 250px;
	font-size: 12px;
}
.tooltip.bs-tooltip-right .tooltip-arrow::before {
    border-right-color: #000000b0!important;
}
.tooltip.bs-tooltip-left .tooltip-arrow::before {
    border-left-color: #000000b0 !important;
}
.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: #000000b0 !important;
}
.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #000000b0 !important;
}

/* Teams */

.teams{

	border-radius: 25px;
	box-shadow: var(--box-shadow);
	background-color: var(--white);
	padding: 30px;
	color: var(--text);
	display: flex;
	justify-content: space-between;

}

.teams h5{

	margin-bottom: 20px !important;

}

.teams p{

	margin-bottom: 20px !important;
	font-weight: 300;

}

.teams ul{


	font-weight: 300;

}

.modal-content{

border-radius: 30px;
padding: 20px;
color: var(--text);
}


#complete-faster .modal-content p{

font-weight: 300;
line-height: 30px;

}


/* Contact Box */

.contact-box{

	padding: 40px !important;

}


.contact-box-head{

	text-align: center;
	width: 50%;
	margin: 0 auto;

}

.contact-box-head h4{
	font-weight: 700;
	color: var(--text);

}

.contact-box-head p{

	text-align: center;
	color: var(--text);
    font-size: 18px;
	font-weight: 500;
    line-height: 22px;

}